html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}
#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed !important;
  width: 25px !important;
  height: 20px !important;
  right: 15px !important;
  left: unset !important;
  top: 23px !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: radial-gradient(#f5f8fc, #f5f8fc);
  padding: 1.5em 0.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.original {
  word-break: break-all !important;
  line-height: 1 !important;
  color: black !important;
  margin-top: .5rem !important;
}

.tal {
  text-align: left !important;
}
.tar {
  text-align: right !important;
}

.tred {
  word-break: break-all;
  color: grey !important;
  font-weight:bold;
  font-size: 10px;
}